@import '../variablestyle/variablestyle';

section {
    width: 55vw;
    height: 50vh;
    padding: 20px;
    background-color: #d8deeb ; 
    display: flex;
    justify-content: center;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;

    h1{ 
        margin-bottom: 20px;
        color: #000000;
        font-size: 35px;
        font-weight: 600;
    }
    .body-chat{
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 100%;
        padding: 15px;

        .all-msg{
            padding: 20px 15px 0px 15px;
            min-height: 32vh;
            max-height: 32vh;
            overflow-y: scroll;
            scroll-behavior: smooth
        }
        .all-msg::-webkit-scrollbar{
            width: 5px;
        }
        .all-msg::-webkit-scrollbar-thumb{
            background-color: #868686;
            border-radius: 10px;
        }
        .body-input{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .send-button{
                width: 45px;
                height: 40px;
                padding: 10px;
                margin: 6px 0px 0px 20px;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #2463b6;
                -webkit-box-shadow: 2px 4px 8px 0px #5c5d5e50;
                -moz-box-shadow: 2px 4px 8px 0px #5c5d5e50;
                box-shadow: 2px 4px 8px 0px #5c5d5e50;
                border: none;
                cursor: pointer;
            }
        }
    }

}