* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-height: 100vh;
  background: #2463b6;
  background: linear-gradient(0deg, #2463b6 32%, #628cda 78%);
  display: flex;
  justify-content: center;
  align-items: center;
}
